#toTop {
    color: rgba(255, 255, 255, 0.32);
    width: 40px;
    height: 40px;
    position: fixed;
    cursor: pointer;
    bottom: 30px;
    right: 40px;
}

@media screen and (max-width: 450px) {
    #toTop {
        right: 20px;
    }
}